body {
  --blue: rgb(18, 18, 18);
  margin: 0;
  overflow: hidden;
  background: var(--blue);
  font: 500 100vmin -apple-system, BlinkMacSystemFont, sans-serif;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

canvas {
  display: block;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
